extends layout

block content

  //- p #{result.map(r => r.name).join(", ")}

  each item, index in result
    h1 
      a(href='/events/' + index) #{item.name} 
    h2 #{item.artists.join(", ")}
    p #{item.date}
    p #{item.city}

  
